@font-face {
  font-family: 'panera';
  src: url("/fonts/panera.ttf");
}
@font-face {
  font-family: 'roboto-medium';
  src: url("/fonts/Roboto-Medium.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "roboto-medium", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu-item.highlight-item {
  border: 2px solid rgba(33,33,225,0.5) !important;
}
.menu-item {
  border-radius: 4px;
}
.hidden {
  display: none !important;
}
.title-text {
  font-family: "panera";
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}